@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  background-color: rgba(0, 128, 0, 0.651);
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: grid;
  grid-template-areas: "logo ingresa" "nab nab";
  text-align: center;
  justify-content: space-between;
  padding: 0;
}
.navbar ul {
  font-size: 25px;
  padding: 0;
}
.navbar ul li {
  list-style: none;
}
.navbar a {
  grid-area: ingresa;
  width: 70px;
  text-align: end;
  padding: 7px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  color: grey;
}
.navbar img {
  grid-area: logo;
  width: 70px;
}
.navbar nav {
  grid-area: nab;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: rgba(211, 211, 211, 0.148);
}
main h1 {
  text-align: center;
  margin: 20px;
}
main .p-index {
  display: none;
}
main .button-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
main .button-main a {
  color: black;
  text-decoration: none;
}
main .button-main a:hover {
  color: grey;
}
main .container-cm {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .icm {
  width: 300px;
}
main .sec-ubi {
  width: 319px;
}
main .pcm {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: rgba(0, 128, 0, 0.514);
  font-family: "Roboto", sans-serif;
  height: 50px;
  padding: 10px;
}

@media (min-width: 375px) {
  main .container-cm {
    height: 800px;
  }
  main .container-cm .sec-ubi {
    height: 320px;
    width: 375px;
    align-items: center;
  }
  main .container-cm .sec-ubi iframe {
    height: 320px;
    width: 365px;
  }
}
@media (min-width: 425px) {
  main .container-cm .sec-ubi {
    height: 320px;
    width: 425px;
    align-items: center;
  }
  main .container-cm .sec-ubi iframe {
    height: 320px;
    width: 415px;
  }
}
@media (min-width: 620px) {
  main .container-cm .sec-ubi {
    height: 400px;
    width: 620px;
    align-items: center;
  }
  main .container-cm .sec-ubi iframe {
    height: 320px;
    width: 620px;
  }
}
@media (min-width: 768px) {
  header {
    height: 110px;
    text-align: center;
    gap: 70px;
  }
  header .ing-index {
    font-size: 20px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 32px;
    margin-bottom: 15px;
  }
  .navbar a {
    padding: 12px;
    margin-top: 5px;
  }
  main {
    background-color: rgba(211, 211, 211, 0.148);
  }
  main h1 {
    font-size: 40px;
  }
  main p {
    font-size: 20px;
  }
  main .p-index {
    display: flex;
  }
  main .img-index {
    text-align: center;
    margin: 60px;
  }
  main .button-main {
    padding: 50px;
  }
  main .button-main a {
    padding: 25px;
    font-size: 20px;
  }
  main .card-ropa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
  }
  main .container-cm {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  main .container-cm .nuestra-historia {
    width: 380px;
  }
  main .container-cm .sec-ubi {
    height: 800px;
    width: 380px;
  }
  main .container-cm .sec-ubi iframe {
    height: 750px;
    width: 370px;
  }
  main .container-cm .pcm {
    display: none;
  }
  footer {
    font-size: 25px;
    gap: 110px;
  }
}
@media (min-width: 1024px) {
  header {
    height: 110px;
    gap: 80px;
  }
  header .ing-index {
    font-size: 30px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 18px;
    padding-right: 15px;
    font-size: 40px;
  }
  main {
    background-color: rgba(211, 211, 211, 0.148);
  }
  main h1 {
    font-size: 40px;
  }
  main p {
    font-size: 20px;
  }
  main .p-index {
    display: flex;
  }
  main .img-index {
    text-align: center;
    margin: 60px;
  }
  main .button-main {
    padding: 50px;
  }
  main .button-main a {
    padding: 25px;
    font-size: 20px;
  }
  main .card-ropa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
  }
  main .container-cm {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
  }
  main .container-cm .nuestra-historia {
    width: 512px;
    height: 800px;
  }
  main .container-cm .sec-ubi {
    height: 800px;
    width: 512px;
    align-items: center;
  }
  main .container-cm .sec-ubi iframe {
    height: 750px;
    width: 482px;
  }
}
@media (min-width: 1440px) {
  header {
    height: 110px;
    gap: 80px;
  }
  header .ing-index {
    font-size: 30px;
  }
  header .ing-index {
    height: 70px;
    width: 150px;
    text-align: center;
  }
  header .img-t {
    height: 70px;
    width: 150px;
    align-items: center;
  }
  header .rm a {
    font-size: 28px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .navbar ul .licm {
    font-size: 30px;
  }
  main {
    background-color: rgba(211, 211, 211, 0.148);
    display: flex;
  }
  main h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  main .img-index {
    display: none;
  }
  main .p-i {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .button-main {
    margin: 60px;
  }
  main .container-cm .nuestra-historia {
    width: 720px;
    text-align: start;
  }
  main .container-cm .nuestra-historia h3 {
    text-align: center;
  }
  main .container-cm .sec-ubi {
    height: 800px;
    width: 720px;
    padding-left: 0;
  }
  main .container-cm .sec-ubi iframe {
    width: 650px;
    height: 750px;
  }
  main .boton-i {
    border-radius: 300px;
  }
  main .h2m {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
  }
  main .rop-m {
    display: grid;
    grid-template-areas: "d1 d2" "d3 d4";
  }
  main .rop-m .img-m {
    grid-area: d1;
  }
  main .rop-m .img-m2 {
    grid-area: d2;
  }
  main .rop-m .img-m3 {
    grid-area: d3;
  }
  main .rop-m .img-m4 {
    grid-area: d4;
  }
  footer {
    justify-content: space-between;
  }
  footer .sect1 {
    height: 30px;
    width: 80px;
    text-align: center;
  }
  footer .sect2 {
    height: 30px;
    width: 120px;
    text-align: center;
  }
  footer .sect3 {
    height: 30px;
    width: 120px;
    text-align: center;
  }
}
@media (min-width: 1920px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .navbar ul {
    display: flex;
  }
  .navbar ul .rm {
    padding: 0;
  }
  .navbar ul .rm a {
    font-size: 28px;
  }
  main {
    display: flex;
  }
  main h1 {
    font-size: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  main .p-i p {
    font-size: 25px;
  }
  main .button-main {
    margin: 105px;
  }
  main .button-main .boton-i {
    border-radius: 300px;
    width: 300px;
    padding: 10px;
  }
  main .card-ropa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  main .container-cm {
    display: flex;
    flex-direction: row;
    gap: 120px;
    height: 850px;
  }
  main .container-cm .nuestra-historia {
    width: 50%;
  }
  main .container-cm .nuestra-historia h3 {
    font-size: 45px;
  }
  main .container-cm .nuestra-historia p {
    font-size: 25px;
    text-align: center;
  }
  main .container-cm .sec-ubi {
    height: 900px;
    width: 50%;
  }
  main .container-cm .sec-ubi h3 {
    font-size: 45px;
  }
  main .container-cm .sec-ubi iframe {
    height: 750px;
    width: 90%;
  }
  main .h2m {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    margin-top: 60px;
  }
  main .rop-m {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 40px;
    align-items: center;
    text-align: center;
  }
  main .rop-m p {
    margin: 20px;
  }
  main .rop-m .bot-m {
    border-radius: 300px;
    width: 100px;
  }
  main .rop-m .bot-m a {
    text-decoration: none;
    color: black;
  }
  main .rop-m .img-m {
    width: 400px;
  }
  main .rop-m .img-m img {
    width: 400px;
    height: 200px;
  }
  main .rop-m .img-m p {
    font-size: 30px;
  }
  main .rop-m .img-m button {
    height: 80px;
    width: 250px;
  }
  main .rop-m .img-m button a {
    font-size: 30px;
  }
  main .rop-m .img-m2 {
    width: 400px;
  }
  main .rop-m .img-m2 img {
    width: 400px;
    height: 200px;
  }
  main .rop-m .img-m2 p {
    font-size: 30px;
  }
  main .rop-m .img-m2 button {
    height: 80px;
    width: 250px;
  }
  main .rop-m .img-m2 button a {
    font-size: 30px;
  }
  main .rop-m .img-m3 {
    width: 400px;
  }
  main .rop-m .img-m3 img {
    width: 400px;
    height: 200px;
  }
  main .rop-m .img-m3 p {
    font-size: 30px;
  }
  main .rop-m .img-m3 button {
    height: 80px;
    width: 250px;
  }
  main .rop-m .img-m3 button a {
    font-size: 30px;
  }
  main .rop-m .img-m4 {
    width: 400px;
  }
  main .rop-m .img-m4 img {
    width: 400px;
    height: 200px;
  }
  main .rop-m .img-m4 p {
    font-size: 30px;
  }
  main .rop-m .img-m4 button {
    height: 80px;
    width: 250px;
  }
  main .rop-m .img-m4 button a {
    font-size: 30px;
  }
  main .rop-m .cmm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
