@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    background-color:  rgba(0, 128, 0, 0.651);
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}
.navbar{
    display: grid;
    grid-template-areas: 
    "logo ingresa"
    "nab nab"
    ;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    ul{
        font-size: 25px;
        padding: 0;
    }
    ul li{
        list-style: none;
    }
    a{
        grid-area: ingresa;
        width: 70px;
        text-align: end;
        padding: 7px;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    a:hover{
        color: grey;
    }
    img{
        grid-area: logo;
        width: 70px;
    }
    nav{
        grid-area: nab;
    }
}

main{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(211, 211, 211, 0.148);
    text-align: center;
    h1{
        text-align: center;
        margin: 20px;
    }
    .p-index{
        display: none;
    }
    .button-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: grey;
        }
        .boton-i{
            border-radius: 300px;
            width: 150px;
            height: 50px;
        }
    }
    .container-cm{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 1700px;
    }
    .icm{
        width: 300px;
    }
    .sec-ubi{
        width: 319px;
        iframe{
            height: 500px;
        }
    }
    .pcm{
        display: none;
    }
    .h2m{
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .rop-m{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        margin-bottom: 40px;
        .img-m{
            width: 300px;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            img{
                width: 300px;
                height: 150px;
            }
            .bot-m{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
        .img-m2{
            width: 300px;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            img{
                width: 300px;
                height: 150px;
            }
            .bot-m{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
        .img-m3{
            width: 300px;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            img{
                width: 300px;
                height: 150px;
            }
            .bot-m{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
        .img-m4{
            width: 300px;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            img{
                width: 300px;
                height: 150px;
            }
            .bot-m{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(0, 128, 0, 0.514);
    font-family: 'Roboto', sans-serif;
    height: 50px;
    padding: 10px;
}

@media(min-width: 375px){
    main{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        h1{
            text-transform: capitalize;
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
        .container-cm{
            height: 2000px;
            .sec-ubi{
                height: 320px;
                width: 375px;
                align-items: center;
                iframe{
                    height: 450px;
                    width: 365px;
                }
            }
        }
        .p-i{
            text-align: center;
        }
        .img-index{
            display: none;
        }
        .button-main{
            .boton-i{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .rop-m{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 50px;
            margin-bottom: 40px;
            .img-m{
                width: 350px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 350px;
                    height: 250px;
                }
            }
            .img-m2{
                width: 350px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 350px;
                    height: 250px;
                }
            }
            .img-m3{
                width: 350px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 350px;
                    height: 250px;
                }
            }
            .img-m4{
                width: 350px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 350px;
                    height: 250px;
                }
            }
        }
    }
}

@media(min-width: 425px){
    main{
        .container-cm{
            height: 1800px;
            .sec-ubi{
                height: 320px;
                width: 425px;
                align-items: center;
                iframe{
                    height: 400px;
                    width: 415px;
                }
            }
        }
    }
        .p-i{
            text-align: center;
        }
        .button-main{
            .boton-i{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
        }
        .img-index{
            display: none;
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: 30px;
        }
        .rop-m{
            text-align: center;
            align-items: center;
            gap: 50px;
            margin-bottom: 40px;
            padding-left: 10px;
            .img-m{
                width: 400px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 400px;
                    height: 250px;
                }
            }
            .img-m2{
                width: 400px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 400px;
                    height: 250px;
                }
            }
            .img-m3{
                width: 400px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 400px;
                    height: 250px;
                }
            }
            .img-m4{
                width: 400px;
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                img{
                    width: 400px;
                    height: 250px;
                }
            }
        }
    }
@media(min-width: 620px){
    main{
        height: 1500px;
        .container-cm{
            display: flex;
            flex-direction: column;
            height: 2700px;
            .sec-ubi{
                height: 400px;
                width: 620px;
                align-items: center;
                iframe{
                    height: 420px;
                    width: 620px;
                }
            }
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .rop-m{
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            text-align: center;
            margin-bottom: 40px;
            .img-m{
                width: 500px;
                img{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m2{
                width: 500px;
                img{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m3{
                width: 500px;
                img{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m4{
                width: 500px;
                img{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        justify-content: space-between;
    }
}

@media(min-width: 768px){
    header{
        height: 110px;
        text-align: center;
        gap: 70px;
        .ing-index{
            font-size: 20px;
        }
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: row;
            gap: 20px;
            font-size: 32px;
            margin-bottom: 0;
        }
        a{
            margin-top: 5px;
        }
    }

    main{
        background-color: rgba(211, 211, 211, 0.148);
        text-align: center;
        display: flex;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        .p-index{
            display: flex;
        }
        .img-index{
            display: none;
            text-align: center;
            margin: 60px;
        }
        .button-main{
            padding: 50px;
            a{
                padding: 25px;
                font-size: 20px;
            }
            .boton-i{
                border-radius: 300px;
            }
        }
        .card-ropa{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 50px;
        }
        .container-cm{
            display: flex;
            flex-direction: row;
            text-align: center;
            height: 1400px;
            .nuestra-historia{
                width: 380px;
            }
            .sec-ubi{
                height: 800px;
                width: 380px;
                iframe{
                    height: 750px;
                    width: 370px;
                }
            }
            .pcm{
                display: none;
            }
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 30px;
        }
        .rop-m{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin-bottom: 40px;
            .img-m{
                width: 600px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m2{
                width: 600px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m3{
                width: 600px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m4{
                width: 600px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
        }
        }
        
    footer{
        justify-content: space-between  ;
        font-size: 25px;
        gap: 110px;
        }
}
@media(min-width: 1024px){
    header{
        height: 110px;
        .ing-index{
            font-size: 30px;
        }
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding-top: 18px;
            padding-right: 15px;
            font-size: 40px;
        }
        .a-index{
            width: 120px;
        }
        .img-t{
            width: 120px;
        }
    }
    main{
        background-color: rgba(211, 211, 211, 0.148);
        display: flex;
        text-align: center;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        .p-index{
            display: flex;
        }
        .img-index{
            display: none;
            text-align: center;
            margin: 60px;
        }
        .button-main{
            padding: 50px;
            a{
                padding: 25px;
                font-size: 20px;
            }
            .boton-i{
                border-radius: 300px;
            }
        }
        .card-ropa{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-left: 50px;
        }
        .container-cm{
            display: flex;
            flex-direction: row;
            gap: 40px;
            text-align: center;
            height: 1150px;
            .nuestra-historia{
                width: 512px;
                height: 800px;
            }
            .sec-ubi{
                height: 800px;
                width: 512px;
                align-items: center;
                iframe{
                    height: 750px;
                    width: 482px;
                }
            }
        }
        .h2m{
            margin-top: 40px;
            margin-bottom: 40px;
            text-transform: capitalize;
            font-size: 40px;
        }
        .rop-m{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 50px;
            margin-bottom: 40px;
            .img-m{
                width: 700px;
                font: 25px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m2{
                width: 700px;
                font: 25px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m3{
                width: 700px;
                font: 25px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m4{
                width: 700px;
                font: 25px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    width: 150px;
                    height: 50px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        justify-content:space-between ;
    }
}
@media(min-width: 1440px){
    header{
        height: 110px;
        gap: 80px;
        .ing-index{
            font-size: 30px;
        }
        .ing-index{
            height: 70px;
            width: 150px;
            text-align: center;
        }
        .img-t{
            height: 70px;
            width: 150px;
            align-items: center;
        }
        .rm{
            a{
                font-size: 28px;
            }
        }
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: row;
            gap: 100px;
            .licm{
                font-size: 30px;
            }
        }
    }
    main{
        background-color: rgba(211, 211, 211, 0.148);
        display: flex;
        h1{
            font-size: 50px;
            margin-top: 50px;
            margin-bottom: 40px;
        }
        .img-index{
            display: none;
        }
        .p-i{
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .button-main{
            margin: 60px;
        }
        .container-cm{
            .nuestra-historia{
            width: 720px;
            text-align: start;
            h3{
                text-align: center;
            }
            }
            .sec-ubi{
                height: 800px;
                width: 720px;
                padding-left: 0;
                iframe{
                    width: 650px;
                    height: 750px;
                }
            }
        }
        
        .button-main{
            .boton-i{
                border-radius: 300px;
                width: 150px;
                height: 50px;
            }
            a{
                width: 150px;
                height: 50px;
                padding: 0;
            }
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            font-size: 40px;
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .rop-m{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin-bottom: 40px;
            .img-m{
                width: 1000px;
                text-align: center;
                font-size: 30px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    height: 50px;
                    width: 200px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m2{
                width: 1000px;
                text-align: center;
                font-size: 30px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    height: 50px;
                    width: 200px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m3{
                width: 1000px;
                text-align: center;
                font-size: 30px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    height: 50px;
                    width: 200px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
            .img-m4{
                width: 1000px;
                text-align: center;
                font-size: 30px;
                .img-mar{
                    width: 500px;
                    height: 300px;
                }
                .bot-m{
                    border-radius: 300px;
                    height: 50px;
                    width: 200px;
                }
                a{
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        justify-content: space-between;
        .sect1{
            height: 30px;
            width: 80px;
            text-align: center;
        }
        .sect2{
            height: 30px;
            width: 120px;
            text-align: center;
        }
        .sect3{
            height: 30px;
            width: 120px;
            text-align: center;
        }
    }
}

@media(min-width: 1920px){
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        ul{
            display: flex;
            .rm{
                padding: 0;
                a{
                    font-size: 28px;
                }
            }
        }
    }
    main{
        display: flex;
        h1{
            font-size: 70px;
            margin-top: 70px;
            margin-bottom: 70px;
        }
        .p-i{
            p{
                font-size: 25px;
            }
        }
        .button-main{
            margin: 105px;
            .boton-i{
                border-radius: 300px;
                width: 300px;
                padding: 10px;
            }
        }
        .card-ropa{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .container-cm{
            display: flex;
            flex-direction: row;
            gap: 120px;
            height: 1150px;
            .nuestra-historia{
                width: 50%;
                h3{
                    font-size: 45px;
                }
                p{
                    font-size: 25px;
                    text-align: center;
                }
            }
            .sec-ubi{
                height: 900px;
                width: 50%;
                h3{
                    font-size: 45px;
                }
                iframe{
                    height: 950px;
                    width: 90%;
                }
            }
        }
        .h2m{
            text-align: center;
            text-transform: capitalize;
            font-size: 50px;
            margin-top: 60px;
        }
        .rop-m{
            display: flex;
            flex-direction: row;
            gap: 80px;
            padding: 40px;
            align-items: center;
            text-align: center;
            p{
                margin: 20px;
            }
            .bot-m{
                border-radius: 300px;
                width: 100px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
            .img-m{
                width: 400px;
                img{
                    width: 400px;
                    height: 200px;
                }
                p{
                    font-size: 30px;
                }
                button{
                    height: 80px;
                    width: 250px;
                    a{
                        font-size: 30px;
                    }
                }
            }
            .img-m2{
                width: 400px;
                img{
                    width: 400px;
                    height: 200px;
                }
                p{
                    font-size: 30px;
                }
                button{
                    height: 80px;
                    width: 250px;
                    a{
                        font-size: 30px;
                    }
                }
            }
            .img-m3{
                width: 400px;
                img{
                    width: 400px;
                    height: 200px;
                }
                p{
                    font-size: 30px;
                }
                button{
                    height: 80px;
                    width: 250px;
                    a{
                        font-size: 30px;
                    }
                }
            }
            .img-m4{
                width: 400px;
                img{
                    width: 400px;
                    height: 200px;
                }
                p{
                    font-size: 30px;
                }
                button{
                    height: 80px;
                    width: 250px;
                    a{
                        font-size: 30px;
                    }
                }
            }
        .cmm{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        }
    }

}